{% extends 'base.html' %}

{% block content %}
<h1> 오늘 저녁 해야 할 일은 {{ dinner }} 입니다. </h1>
<p> 오늘 할 일은 {{ pick }} 입니다. </p>
<hr>

<p>일 거리 목록</p>
<ul>
    {% for menu in dinner %}
        <li>{{ menu }} </li>
    {% endfor %}
</ul>

{% for money in wallet %}
{% empty %}
    <p> 돈이 음슴.. </p>
{% endfor %}

<p>
    {% lorem 5 w random %}
    {% lorem 2 p %}
</p>

<ul>
    {% for menu in dinner %}
        {% if forloop.first %}
            <li> {{ menu }} 엔 돈이 든다.. </li>
        {% else %}
            <li> {{ menu }} </li>
        {% endif %}
    {% endfor %}
</ul>
<p> 첫번째 일 목록은 {{ dinner.0 }} </p>

{% endblock content %}